<table class="active_vehicles">
  <thead>
    <th>Code</th>
    <th>Make</th>
    <th>Model</th>
    <th>Stage</th>
    <th>Actions</th>
  </thead>
  <tbody>
  </tbody>
</table>
<script type="text/javascript">
  var activeAssignments = new EcaTrackerApp.StageAssignmentCollection();

  activeAssignments.reset(<%= active_assignments.to_json(include: [:car, :stage]).html_safe %>);

  var activeAssignmentsCollectionView = new EcaTrackerApp.AssignmentsCollectionView({
        collection: activeAssignments,
        el: $('table.active_vehicles')
      }).render();
</script>
