<table class="inactive_vehicles">
  <thead>
    <th>Code</th>
    <th>Make</th>
    <th>Model</th>
    <th>Stage</th>
    <th></th>
  </thead>
  <tbody>
  </tbody>
</table>
<script type="text/javascript">
  var inactiveAssignments = new EcaTrackerApp.StageAssignmentCollection();

  inactiveAssignments.reset(<%= inactive_assignments.to_json(include: [:car, :stage]).html_safe %>);

  var inactiveAssignmentsCollectionView = new EcaTrackerApp.AssignmentsCollectionView({
        collection: inactiveAssignments
      }).render();
</script>
