<script src="/assets/application.js" type="text/javascript" ></script>
<script type="text/javascript">
  var stages = new EcaTrackerApp.StageCollection();
  stages.reset(<%= stages.html_safe %>);
  var router = new EcaTrackerApp.Router({stages: stages, uid: <%= current_admin_user.id %>, car_collection: <%= Rabl::Renderer.json(cars, 'api/v1/cars/index', :view_path => 'app/views').html_safe %> });
  Backbone.history.start();
</script>
<link href="/assets/bootstrap_and_overrides.css?body=1" media="all" rel="stylesheet" type="text/css" />
<div>
	<%= paginate cars %>
</div>
