<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Car Status Report</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
		<script src="/assets/live_view/live_view.js?body=1" type="text/javascript"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js" type="text/javascript"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js" type="text/javascript"></script>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
		<script src="/jquery-marquee.js"></script>
	<style>
		body {
			padding-top: 100px;
			padding-bottom: 40px;
		}
		.navbar {
			position: fixed;
		}
		#marquee-nav {
			position: fixed;
			margin-top: 40px;
		}
		.navbar button {
			position: fixed;
			right: 10px;
		}
		.marquee {
			overflow: hidden;
			white-space: nowrap;
		}
		.dropdown {
			padding-left: 10px;
			padding-right: 10px;
		}
	</style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<ul class="nav">
					<button id="toggle-scrolling" class="btn" data-toggle="button">Toggle Scrolling</button>
					<ul class="nav">
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort By <b class="caret"></b></a>
							<ul class="dropdown-menu">
							</ul>
						</li>
					</ul>
					<li><a><div class="marquee"></div></a></li>	
				</ul>
			</div>
		</div>
		<!--<div id="marquee-nav" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<ul class="nav">
					<li><a><div class="marquee"></div></a></li>	
				</ul>
			</div>
		</div>
		-->
		<div class="container">
			<div class="row">
				<table id="main" class="table table-striped table-hover"></table>
			</div>
		</div>
		<script id="car" type="text/template" class="template">
				<td id="car_<%= id %>">
					<h4><%= code %></h4>
					<h5><%= make %> <%= model %></h5>
					<div id="days"><%= days_in_stage %> days in stage <%= active_stage_title %></div>
				</td>
		</script>
		<script id="car-info" type="text/template" class="template">
			<div id="info-data">
				<%= data %>
			</div>
		</script>
		<script type="text/javascript">
			window.onload = function() {
				Cars = Backbone.Collection.extend({
					url: '/api/v1/cars'
				});

				Car = Backbone.View.extend({
					tagName: 'tr',
					events: {
						"click": "showData",
					},
					initialize: function() {},
					render: function() {
						var t = _.template($('#car.template').html());
						this.$el.html(t(this.model.toJSON()));
						this.styleRules();
						return this;
					},
					styleRules: function() {
					/*
					// 2 days in TIRES
					if( this.model.get('days_in_stage') > 2 
							&& this.model.get('active_stage_title') === 'TIRES') {
							this.$el.find('#days').addClass('text-error');
						}
					// 3 days in DEALERSHIP
					if( this.model.get('days_in_stage') > 3 
							&& this.model.get('active_stage_title') === 'DEALERSHIP') {
							this.$el.find('#days').addClass('text-error');
						}
					// 3 days in QC
					if( this.model.get('days_in_stage') > 3 
							&& this.model.get('active_stage_title') === 'QC') {
							this.$el.find('#days').addClass('text-error');
						}
					// 4 days in MECHANICS
					if( this.model.get('days_in_stage') > 4 
							&& this.model.get('active_stage_title') === 'MECHANICS') {
							this.$el.find('#days').addClass('text-error');
						}
					// 3 days in BODY SHOP
					if( this.model.get('days_in_stage') > 3 
							&& this.model.get('active_stage_title') === 'BODY SHOP') {
							this.$el.find('#days').addClass('text-error');
						}
					// 4 days in GO TO WARRANTY
					if( this.model.get('days_in_stage') > 4 
							&& this.model.get('active_stage_title') === 'GO TO WARRANTY') {
							this.$el.find('#days').addClass('text-error');
						}
					// 4 days in AT WARRANTY
					if( this.model.get('days_in_stage') > 4 
							&& this.model.get('active_stage_title') === 'AT WARRANTY') {
							this.$el.find('#days').addClass('text-error');
						}
					*/
					// 3 days in any dept
					// this overrides everything...
					// sloppy - need to fix
					if( this.model.get('days_in_stage') > 3 ) {
							this.$el.find('#days').addClass('alert alert-error');
						}
					},
					passesRules: function() {
						if( this.model.get('active_stage_title') === 'FLR' ) return false;
						//if( this.model.get('days_in_stage') === 0 ) return false;
						return true;
					},
					showData: function() { }
				//		var info = $('#info');
				//		info.empty();
				//		var t = _.template($('#car-info.template').html());
				//		info.html(t({data: JSON.stringify(this.model)}));
				//	}
				});

				AppView = Backbone.View.extend({
					initialize: function() {
						this.collection = new Cars();
						if(localStorage.cars != undefined && localStorage.cars != "undefined") {
							this.collection = new Cars(JSON.parse(localStorage.cars))
						}
						this.collection.fetch();
						this.collection.on('reset', this.updateCars, this);
						this.collection.on('change', this.updateCars, this);
					},
					collection: null,
					finalCollection: [],
					render: function() {
						this.finalCollection = [];
						var finalCollection = this.collection.sortBy(function(c) {
							return parseInt(c.get('days_in_stage'));
						});
						finalCollection = _.uniq(finalCollection.reverse());
						
						// Get marquee text
						$('.marquee').html(this.options.helper.get_marquee_text(finalCollection));
						// Start marquee
						$('.marquee').marquee({ speed: 20000, gap: 50, delayBeforeStart: 0, direction: 'left'});
						
						// Setup Sort By Dropdown
						var stages = this.options.helper.get_unique_stages(finalCollection);	//	
						$('.dropdown-menu').empty();
						$('.dropdown-menu').append('<li id="stage-all"><a>All</a></li>');

						$('#stage-all').click(function() { window.show_stage = "all"; window.a.render(); } );

						_.each(stages, function(s) {
							var stage = s.replace(/ /g,'').toLowerCase();
							$('.dropdown-menu').append('<li id="stage-'+stage+'"><a>'+s+'</a></li>');
							$('#stage-'+stage).click(function() { window.show_stage = stage; window.a.render() });
						}, this);

						// Filter by stage
						finalCollection = _.filter(finalCollection, function(c) {
							return window.show_stage === "all" || window.show_stage === c.get('active_stage_title').replace(/ /g,'').toLowerCase();
						}, this);

						// Add all to final collection
						$('#main').empty();
						_.forEach(finalCollection, function(c) {
							var v = new Car({model: c});
							if(v.passesRules()) {
								console.debug('passed');
								this.finalCollection.push(c);
								$('#main').append(v.render().el);
							}
						}, this);
						

					},
					updateCars: function() {
						if(this.collection != null) {
							localStorage.setItem('cars', JSON.stringify(this.collection));
							this.render();
						}
					}
				});
				
				window.show_stage = "all";
				window.a = new AppView({el: $('#main'), helper: window.LiveViewHelper});
				window.a.render();
				
				// Scroll cars every 3 seconds 
				window.scroll = true;
				var i = 0;
				window.setInterval(function() {
						if(window.scroll === false) return;
						if(!(i < window.a.finalCollection.length)) i = 0;
						var carView = $('#car_'+window.a.finalCollection[i].get('id'));
						if(carView !== undefined || carView !== null) {
							$('body').animate({ scrollTop: carView.offset().top-100}, 1500);
						}
						i = i + 1;
				}, 3000);

				// Update collection every 5 minutes
				window.setInterval(function() {
					window.a.collection.fetch();
				}, 60000 * 5);

				// Setup Toggle Button
				$('#toggle-scrolling').click(function() { window.scroll = !window.scroll; });

			}
		</script>
	</body>
</html>
