<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Car Status Report</title>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js" type="text/javascript"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js" type="text/javascript"></script>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
	<style>
		#info-data {
			position: fixed;
		}
	</style>
	</head>
	<body>
		<div class="container-fluid">
			<table id="main" class="span4 table table-striped table-hover"></table>
			<div id="info" class="span8"></div>
		</div>
		<script id="car" type="text/template" class="template">
				<td id="car_<%= code %>">
					<h4><%= code %></h4>
					<h5><%= make %> <%= model %></h5>
					<div id="days"><%= days_in_stage %> days in stage <%= active_stage_title %></div>
				</td>
		</script>
		<script id="car-info" type="text/template" class="template">
			<div id="info-data">
				<%= data %>
			</div>
		</script>
		<script type="text/javascript">
			Cars = Backbone.Collection.extend({
				url: '/api/v1/cars'
			});

			Car = Backbone.View.extend({
				tagName: 'tr',
				events: {
					"click": "showData",
				},
				initialize: function() {},
				render: function() {
					var t = _.template($('#car.template').html());
					this.$el.html(t(this.model.toJSON()));
					this.styleRules();
					return this;
				},
				styleRules: function() {
				/*
				// 2 days in TIRES
				if( this.model.get('days_in_stage') > 2 
						&& this.model.get('active_stage_title') === 'TIRES') {
						this.$el.find('#days').addClass('text-error');
					}
				// 3 days in DEALERSHIP
				if( this.model.get('days_in_stage') > 3 
						&& this.model.get('active_stage_title') === 'DEALERSHIP') {
						this.$el.find('#days').addClass('text-error');
					}
				// 3 days in QC
				if( this.model.get('days_in_stage') > 3 
						&& this.model.get('active_stage_title') === 'QC') {
						this.$el.find('#days').addClass('text-error');
					}
				// 4 days in MECHANICS
				if( this.model.get('days_in_stage') > 4 
						&& this.model.get('active_stage_title') === 'MECHANICS') {
						this.$el.find('#days').addClass('text-error');
					}
				// 3 days in BODY SHOP
				if( this.model.get('days_in_stage') > 3 
						&& this.model.get('active_stage_title') === 'BODY SHOP') {
						this.$el.find('#days').addClass('text-error');
					}
				// 4 days in GO TO WARRANTY
				if( this.model.get('days_in_stage') > 4 
						&& this.model.get('active_stage_title') === 'GO TO WARRANTY') {
						this.$el.find('#days').addClass('text-error');
					}
				// 4 days in AT WARRANTY
				if( this.model.get('days_in_stage') > 4 
						&& this.model.get('active_stage_title') === 'AT WARRANTY') {
						this.$el.find('#days').addClass('text-error');
					}
				*/
				// 3 days in any dept
				// this overrides everything...
				// sloppy - need to fix
				if( this.model.get('days_in_stage') > 3 ) {
						this.$el.find('#days').addClass('alert alert-error');
					}
				},
				passesRules: function() {
					if( this.model.get('active_stage_title') === 'FLR' ) return false;
					if( this.model.get('days_in_stage') === 0 ) return false;
					return true;
				},
				showData: function() {
					var info = $('#info');
					info.empty();
					var t = _.template($('#car-info.template').html());
					info.html(t({data: JSON.stringify(this.model)}));
				}
			});

			AppView = Backbone.View.extend({
				initialize: function() {
					if(localStorage.cars != undefined && localStorage.cars != "undefined") {
						this.collection = new Cars(JSON.parse(localStorage.cars))
					} else {
						$('#info').html("FETCHING CARS");
						this.collection = new Cars();
						this.collection.fetch();
					}
					this.collection.on('reset', this.updateCars, this);
					this.collection.on('change', this.updateCars, this);
				},
				collection: null,
				finalCollection: [],
				render: function() {
					var finalCollection = this.collection.sortBy(function(c) {
						return parseInt(c.get('days_in_stage'));
					});
					finalCollection = finalCollection.reverse();
						$('#main').empty();
					_.forEach(finalCollection, function(c) {
						var v = new Car({model: c});
						if(v.passesRules()) {
							this.finalCollection.push(c);
							$('#main').append(v.render().el);
						}
					}, this);
				},
				updateCars: function() {
					console.debug('updating cars');
					if(this.collection != null && !this.collection.isEmpty()) {
						localStorage.setItem('cars', JSON.stringify(this.collection));
						this.render();
					}
				}
			});
			
			var a = new AppView({el: $('#main')});
			a.render();

			// Update collection every 30 seconds
			window.setInterval(function() {
				a.collection.fetch();
			}, 30000);

			// Scroll cars every 3 seconds
			var scroll = true;
			var i = 0;
			window.setInterval(function() {
					if(scroll === false) return;
					if(i >= a.finalCollection.length) i = 0;
					var carView = $('#car_'+a.finalCollection[i].get('code'));
					//console.debug(carView);
					$('body').animate({ scrollTop: carView.offset().top }, 1500);
					i = i + 1;
			}, 3000);
		</script>
	</body>
</html>
