<%= form_for(@stage_assignment) do |f| %>
  <% if @stage_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage_assignment.errors.count, "error") %> prohibited this stage_assignment from being saved:</h2>

      <ul>
      <% @stage_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stage_id %><br />
    <%= f.number_field :stage_id %>
  </div>
  <div class="field">
    <%= f.label :car_id %><br />
    <%= f.number_field :car_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
