<h1>Listing stage_assignments</h1>

<table>
  <tr>
    <th>Stage</th>
    <th>Car</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stage_assignments.each do |stage_assignment| %>
  <tr>
    <td><%= stage_assignment.stage_id %></td>
    <td><%= stage_assignment.car_id %></td>
    <td><%= link_to 'Show', stage_assignment %></td>
    <td><%= link_to 'Edit', edit_stage_assignment_path(stage_assignment) %></td>
    <td><%= link_to 'Destroy', stage_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stage assignment', new_stage_assignment_path %>
