<p id="notice"><%= notice %></p>

<p>
  <b>Stage:</b>
  <%= @stage_assignment.stage_id %>
</p>

<p>
  <b>Car:</b>
  <%= @stage_assignment.car_id %>
</p>


<%= link_to 'Edit', edit_stage_assignment_path(@stage_assignment) %> |
<%= link_to 'Back', stage_assignments_path %>
