// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  button {
    margin-top: -9px;
  }
}

table {
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}
