<div style="padding-top: 50px" class="row">
  <h2 class="span6">Cars In Inventory</h2>
  <form src="<%= url_for :cars %>" method="GET" class="span6">
    <input id="search" name="search" type="text" placeholder="Type code here"/>
    <button type="submit" class="btn">Search</button>
  </form>
</div>
<div class="row">
<% if @cars != nil then %>
<table class="table-striped span12">
  <thead>
    <th>Code</th>
    <th>Make</th>
    <th>Model</th>
    <th>Current Stage</th>
    <th>Previous Stage</th>
  </thead>
  <tbody>
<% @cars.each do |car| %>
  <tr>
    <td><%= car.code %></td>
    <td><%= car.make %></td>
    <td><%= car.model %></td>
    <td><%= begin car.active_stages.first.title rescue '' end %></td>
    <td><%= begin car.stage_assignments.select{|x| x.time_out != nil }.first.stage.title rescue '' end%></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<% end %>
<%= paginate @cars %>
